.App, body   {
  width: 100%; height: 100%;
  text-align: center;
  overflow: hidden;
}

/*header styling */

.App header{
  position: absolute; width: 100%;
  display: flex; flex-direction: row;
  justify-content: space-between; align-content: center;
  mix-blend-mode:screen;
}

header{
  top: 10px;
  transition: all 800ms ease;
  font-size: 1vw;
  z-index: 999999;
}

header h1 {
  padding: 0; margin: 0px; transition: all 800ms ease;
  border: 1px solid white;
}

header a, header h1 {
 padding: 5px;
  text-decoration: none;  margin: auto;
  color: white;
}

header a{
  font-weight: bold;
}


/* MAIN VIEW STYLING */

main{
  z-index: -1;
  max-width: 100vw; max-height: 100vh;
}


.scrollable{
  overflow-y: scroll; overflow-x: hidden;
}

.scrollable::-webkit-scrollbar {
    width: 5px;
}


.scrollable::-webkit-scrollbar-track {
    width: 3px;
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: black; opacity: .1;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #ff04d5; opacity: .5;
}

section {
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  padding-top: 25px;
}

/* intro */


section {
  /*box-shadow: inset 0 35px 100px -5px rgba(0,0,0,0.08);*/
  width: 100vw; height: 100vh;
  position: relative;
}


#intro {
  background-color: beige;
}

#intro h1{
  color: white;
  padding: 0; margin: 0;
  font-size: 15vw;
}


#greeting-container {
  position: absolute; top: 50px; right: 50px;
}

#greeting-container h1 {
  background-color: beige;
}


  .circle{
    top: 10%;
    position: absolute;
    border-radius: 100%; height: 15vw; width: 15vw;
  }

#greeting-container h1 div.circle{
  mix-blend-mode: soft-light;
}


  .circle-outline{
    z-index: 1000;
    position:relative;
    top: -100vh; right: -100vh;
    height: 200vh; width: 200vh;
    border: 1px solid black;
    background-color:none;
    mix-blend-mode:darken;
  }


  #circle-01-pos, #circle-02-pos, #circle-03-pos, #circle-04-pos{
    position: absolute;
    height: 100%; width: 100%;
  }



  #circle-01{
    top: -95vh; right: -95vh;
    height: 190vh; width: 190vh;
  }

  #circle-02-pos{
  }
  #circle-02{
    top: -100vh; right: -100vh;
    height: 200vh; width: 200vh;
  }

  #circle-03-pos{
  }
  #circle-03{
    height: 160vh; width: 160vh;
    top: -80vh; right: -80vh;
  }

  #circle-04-pos{
  }
  #circle-04{
    top: 0; bottom: -100vh; right: -100vh;
    height: 200vh; width: 200vh;
  }

  #circle-1{
    left: 2%; top: 20%;
    background-color: #000000;
  }

  #circle-2{
    left: 20%;
    background-color: #ff000c
  }

  #circle-3{
    left: 40%; top: 15%;
    background-color: #b1d785;
  }

  #circle-4{
    left: 60%; top: 20%;
    background-color: #0758ea;
  }


  #second-greeting{
    position: absolute; left: 10%; bottom: 15%;
    width: 20%;
  }

  #intro h2{
    background-color: beige;
    z-index: 1;
    padding: 0; margin: 0;
    z-index: 100;
    color: black;
    font-size: 5vw; text-align: left;
    overflow: hidden;
}

#circle-5{
  display: absolute;
  height: 25vw; width: 25vw;
  left: 2%;
  background-color: #969618;
  mix-blend-mode:lighten;
}

/* About */

#about{
  background-color: beige;
}

#about h1 {
  font-size: 8vw; color: white; padding: 0; margin: 0;
}

#about-greeting{
  position: absolute; top: 80px; left: 45px; width: 30%;
}

#circle-6{
  background-color: #2f1d92; width: 25vw; height: 25vw; left: 15%;
  top: -25%; mix-blend-mode: saturation;
}


#about-blurb {
  font-size: 2.2vh;
  position: absolute;
  top: 20%; width: 70%; height: 80%; left: 40%;
}

#about-blurb p{
  padding: 10px;
  color: black; position: absolute; width: 70%;
  border: 1px solid black;
}

#about-blurb span{
}

strong.pop-out{
  mix-blend-mode:overlay;
  color: white;
  background-color: black; padding: 3px;
  position: absolute; left: -5%; top: -50%;
  font-size: 3.7vh;
}

#first-blurb{
  text-align:left;
  left: 0%; top: -10%;
  background-color: beige;
}

#second-blurb{
  text-align: right;
  left: 10%; top: -1%;
}

#third-blurb{
  text-align: left;
  left: -8%; top: 20%;
}

#third-blurb strong.pop-out{
  top: -35px;
}

#fourth-blurb strong.pop-out{
  top: -35px;
}

#fourth-blurb{
  text-align:left;
  left: -38%; top: 45%;
}

#fifth-blurb{
  text-align:right;
  left: -30%; top: 54%;
}

#sixth-blurb{
  text-align:right;
  left: -20%; top: 70%;
}


#fourth-blurb ul {
  list-style:circle;
}

/* Projects */

#projects{
  background-color: beige;
}

#project-circle01{
  top:0; bottom:-100vh; left: -100vh;
}

#project-circle02{
  top:0; bottom:-95vh; left: -95vh;
  width: 190vh; height: 190vh;
}

#projects-greeting{
  position: absolute; top: 1%; right: 5%;
}

#projects-greeting h1{
  color: black; font-size: 16vw;
  margin: 0; padding: 0;
}

#projects-greeting div.circle{
  left: 30%; top: -10%;
  width: 25vw; height: 25vw; background-color: #fb0f0f;
  mix-blend-mode:lighten;
}

#carousel-container{
  position: absolute;
  width: 80%; height: 65%;
  bottom: 1%; left: 10%; opacity: .8%;
}


#thumbnail-container{
  display: flex; align-content: center;
  transition: all 1000ms ease;
  position: absolute; width: 100%; height: 90%; min-height: 20%;
  top: 0;
  background-color: black;
}

#thumbnail-container a{
  position: absolute;
  mix-blend-mode: darken;
  z-index: 9999;
  transition: all 1000ms ease;
  top: 45%; left: 45%;
  text-decoration:none; font-size: 5vh; color: white;
}

#thumbnail-container a span{
  padding: 10px;
  background-color: black;
  color: beige;
}


#thumbnail-container #image-container{
  position: relative;
  height: 80%; width: 100%; margin: auto;
  overflow: hidden;
}


#thumbnail-container img {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: auto;
}


#thumbnail-container img.image-number-2 {
  margin-top: -10%;
}


#thumbnail-container div.screen{
  transition: all 1000ms ease;
  opacity: .6; background-color: black;
  width: 100%; height: 100%;
  position: absolute;
  top: 0;
}


#thumbnail-container div p {
  mix-blend-mode:hard-light;
  color: white;
  background-color: black;
  text-align: left;
  position: absolute; padding:0; margin: 0;
  font-size: 2.5vh;
  top: 60%; left: 2%; width: 30%;
}

#dots{
  z-index: 100;
  position: absolute; bottom: 3%; left: 33%;
  display: flex; flex-direction: row; justify-content: space-between;
  width:30%; height: auto;
}

#dots div{
  border-radius: 100%;
  border: 1px solid black;
  width:1.5vh; height: 1.5vh;
  transition: all 1000ms ease;
}

#dots div.active-dot{
  background-color: black;
}

/* Contact */

#contact{
  overflow: hidden;
  background-color: beige;
}


#contact #contact-greeting{
  height: 10%; width: 20%;
  position: absolute; right: 15%; top: 10%;
}


#contact-greeting h1{
  color: white;
  top: 65%; left: 25%; position: absolute;
  font-size: 3.5vh;
  margin: 0; padding: 0;
}

#contact-c1{
  background-color: red;
  top:0%; right: 15%;
  mix-blend-mode: overlay;
}

#contact-c2{
  background-color: indigo;
  top: -25%; right: -25%;
  mix-blend-mode:overlay;
}


#contact-links{
  border: 1px solid black;
  margin: 0; padding: 20px;
  position: absolute; top: 400%; left: -110%;
  list-style: none; min-width: 150px;
}

#contact-links li {
  font-size: 11pt;
  display: flex; flex-direction: row; justify-content: space-around;
}

#contact-links img {
  width: 20px; height: 20px;
}

/* CSS Animations */
@keyframes fadeInLeft {

  0% {
    opacity: 0; transform: translateX(225px);
  }
  30% {
    opacity: .15;
  }
  100% {
    opacity: 1; transform: translateX(0);
  }
}

@keyframes fadeInRight {

  0% {
    opacity: 0; transform: translateX(-225px);
  }
  30% {
    opacity: .15;
  }
  100% {
    opacity: 1; transform: translateX(0);
  }
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* React CSSTransitions */

.image-enter{
  opacity: 0.01;
  transform: translateX(50%);
}

.image-enter-active{
  opacity: 1;
  transform:  translateX(0%);
  transition: all 1000ms ease;
}

.image-exit{
  opacity: 1;
  transform: translateX(0%);
}

.image-exit-active {
  opacity: 0.01;
  transform:translateX(50%);
  transition: all 1000ms ease;
}

.blurb-enter{
  opacity: 0.01;
  transform: translateY(100%);
}

.blurb-enter-active{
  opacity: 1;
  transform:  translateY(0%);
  transition: all 1000ms ease;
}

.blurb-exit{
  opacity: 1;
  transform: translateY(0%);
}

.blurb-exit-active {
  opacity: 0.01;
  transform:translateY(-100%);
  transition: opacity 1000ms ease;
}


/* scrolling Waypoint animations*/

.anims{
  overflow: hidden;
}


.way-wrapper{
  position: absolute;  height: 200px;
  transition: all 1000 ease;
}


.scroll-top-enter{
  opacity: 0;
  transform: translateY(-100%);
}

.scroll-top-enter-active{
  opacity: 1;
  transform: translateY(0%);
  transition: all 1000ms ease;
}

.scroll-top-exit{
  opacity: 1;
  transform: translateY(0%);
}

.scroll-top-exit-active{
  opacity: 0;
  transform: translateY(100%);
  transition: all 1000ms ease;
}


.scroll-left-enter{
  opacity: 0;
  transform: translateX(-100%);
}

.scroll-left-enter-active{
  opacity: 1;
  transform: translateX(0%);
  transition: all 1500ms 500ms ease;
}

.scroll-left-exit{
  opacity: 1;
  transform: translateX(0%);
}

.scroll-left-exit-active{
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1500ms ease-out;
}


.rapid-right-enter{
  opacity: 1;
  transform: translateX(100%);
}

.rapid-right-enter-active{
  opacity: 1;
  transform: translateX(0%);
  transition: all 500ms ease;
}

.rapid-right-exit{
  opacity: 1;
  transform: translateX(0%);
}

.rapid-right-exit-active{
  opacity: 1;
  transform: translateX(100%);
  transition: all 500ms ease-out;
}
