.App header h1, .App header {
  transition: all 800ms ease;
}

#thumbnail-container div.screen, #thumbnail-container a, #thumbnail-container, #carousel-container #dots div {
  transition: all 1000ms ease;
}

#thumbnail-container div p, #projects-greeting h1, #intro h2, .App header h1, html, body {
  margin: 0;
  padding: 0;
}

#contact-links li, #contact-links a, #carousel-container #dots, .App header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
}

p#fifth-blurb, p#fourth-blurb, p#first-blurb {
  text-align: left;
}

p#sixth-blurb, p#second-blurb {
  text-align: right;
}

body, .App {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.App header {
  z-index: 999999999999;
  position: absolute;
  width: 100vw;
  top: 10px;
  font-size: 1.5vmax;
}
.App header:hover {
  font-size: 2vmax;
}
@media only screen and (min-width: 768px) {
  .App header:hover {
    font-size: 1vmax;
  }
}
@media only screen and (min-width: 768px) {
  .App header {
    font-size: 0.5vmax;
  }
}
.App header h1 {
  border: 1px solid black;
}
.App header a, .App header h1 {
  padding: 5px;
  text-decoration: none;
  margin: auto;
  color: black;
}
.App header a {
  font-weight: bold;
}

main {
  z-index: -1;
  max-width: 100vw;
  max-height: 100vh;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}
.scrollable::-webkit-scrollbar {
  width: 5px;
}
.scrollable::-webkit-scrollbar-track {
  width: 3px;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: black;
  opacity: 0.1;
}
.scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #ff04d5;
  opacity: 0.5;
}

section {
  position: relative;
  padding-top: 25px;
  width: 100vw;
  height: 100vh;
}

#intro {
  background-color: beige;
}
#intro h1 {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 18vmax;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  #intro h1 {
    font-size: 15vmax;
  }
}
#intro h2 {
  display: inline-block;
  background-color: beige;
  color: black;
  font-size: 6vmax;
  text-align: left;
  z-index: -1000;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  #intro h2 {
    font-size: 4vmax;
  }
}

#greeting-container {
  position: absolute;
  top: 100px;
  right: 25px;
}
@media only screen and (min-width: 768px) {
  #greeting-container {
    top: 50px;
  }
}
#greeting-container h1 {
  background-color: beige;
}
#greeting-container div.circle {
  mix-blend-mode: soft-light;
}

.circle {
  position: absolute;
  top: 10%;
  border-radius: 100%;
  height: 18vmax;
  width: 18vmax;
}
@media only screen and (min-width: 768px) {
  .circle {
    height: 15vw;
    width: 15vw;
  }
}

.circle-outline {
  position: relative;
  z-index: 1000;
  top: -100vmin;
  right: -100vmin;
  height: 200vmin;
  width: 200vmin;
  border: 1px solid black;
  background-color: none;
  mix-blend-mode: darken;
}

#wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#circle-01-pos, #circle-02-pos,
#circle-03-pos, #circle-04-pos {
  position: absolute;
  weight: 100vw;
  height: 100vh;
  top: 0px;
}

#circle-01 {
  top: -45vmin;
  right: -45vmin;
  z-index: 500000;
}

#circle-02 {
  top: -45vmin;
  right: -45vmin;
  height: 150vh;
  width: 150vh;
}

#circle-03 {
  height: 110vh;
  width: 110vh;
  top: -30vmin;
  right: -30vmin;
}

#circle-04 {
  top: 50vmin;
  right: -20vmin;
  height: 150vh;
  width: 150vh;
}

#circle-1 {
  left: 2%;
  top: 20%;
  background-color: #000000;
}

#circle-2 {
  left: 20%;
  background-color: #ff000c;
}

#circle-3 {
  left: 40%;
  top: 15%;
  background-color: #b1d785;
}

#circle-4 {
  left: 60%;
  top: 20%;
  background-color: #0758ea;
}

#second-greeting {
  z-index: 200;
  position: absolute;
  left: 12%;
  bottom: 15%;
  width: 60%;
}
@media only screen and (min-width: 768px) {
  #second-greeting {
    width: 10%;
    left: 7%;
  }
}

#circle-5 {
  display: absolute;
  left: 2%;
  height: 25vmax;
  width: 25vmax;
  background-color: #777706;
  mix-blend-mode: lighten;
  z-index: 1000;
}
@media only screen and (min-width: 768px) {
  #circle-5 {
    height: 25vw;
    width: 25vw;
  }
}

#about {
  background-color: beige;
}
#about h1 {
  z-index: -50;
  font-size: 8vmax;
  color: white;
  background-color: beige;
}
@media only screen and (min-width: 768px) {
  #about h1 {
    font-size: 8vmax;
  }
}

#about-greeting {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 30%;
}
#circle-6 {
  background-color: #ffff8b;
  left: -5px;
  top: -30px;
  z-index: -100;
  width: 25vmax;
  height: 25vmax;
}
@media only screen and (min-width: 768px) {
  #circle-6 {
    width: 25vw;
    height: 25vw;
    left: 15%;
    top: -25%;
  }
}

#about-blurb {
  font-size: 1.8vmax;
  position: relative;
  top: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
}
@media only screen and (min-width: 768px) {
  #about-blurb {
    font-size: 1.5vmax;
  }
}
#about-blurb p {
  position: absolute;
  width: 70%;
  padding: 10px;
  color: black;
  border: 1px solid black;
  margin: 0;
}

strong.pop-out {
  position: absolute;
  left: -5%;
  top: -25px;
  padding: 3px;
  color: white;
  background-color: #ebebb9;
  font-size: 3.3vmax;
}
@media only screen and (min-width: 768px) {
  strong.pop-out {
    font-size: 3.7vh;
  }
}

p#first-blurb {
  width: 52%;
  background-color: beige;
  left: 37%;
  top: 20%;
}
@media only screen and (min-width: 768px) {
  p#first-blurb {
    left: 42%;
  }
}

p#second-blurb {
  width: 80%;
  left: 5%;
  top: 30%;
}
@media only screen and (min-width: 768px) {
  p#second-blurb {
    width: 60%;
    left: 30%;
  }
}

p#fourth-blurb {
  left: 20%;
  top: 48%;
}
p#fourth-blurb strong.pop-out {
  top: -25px;
}
p#fourth-blurb ul {
  list-style: circle;
}
@media only screen and (min-width: 768px) {
  p#fourth-blurb {
    left: 25%;
    width: 50%;
  }
}

p#fifth-blurb {
  left: 10%;
  top: 58%;
}
@media only screen and (min-width: 768px) {
  p#fifth-blurb {
    left: 20%;
  }
}

p#sixth-blurb {
  left: 20%;
  top: 78%;
}
@media only screen and (min-width: 768px) {
  p#sixth-blurb {
    left: 10%;
    width: 37%;
  }
}

#projects {
  background-color: beige;
}

#project-circle01 {
  position: absolute;
  top: 0;
  bottom: -100vmin;
  left: -100vmin;
}

#project-circle02 {
  position: absolute;
  top: 5vh;
  bottom: -95vmin;
  left: -95vmin;
}

#projects-greeting {
  position: absolute;
  top: 2%;
  right: 10%;
}
@media only screen and (min-width: 768px) {
  #projects-greeting {
    position: absolute;
    top: -6%;
    right: 5%;
  }
}
#projects-greeting h1 {
  position: relative;
  overflow: hidden;
  background-color: beige;
  color: black;
  font-size: 23vmin;
}
@media only screen and (min-width: 768px) {
  #projects-greeting h1 {
    font-size: 15vmax;
  }
}
#projects-greeting div.circle {
  left: 30%;
  top: -10%;
  background-color: #fb0f0f;
  width: 40vmin;
  height: 40vmin;
  mix-blend-mode: lighten;
}

#carousel-container {
  position: absolute;
  width: 80%;
  height: 65%;
  bottom: 12%;
  left: 10%;
  opacity: 0.8%;
  z-index: 1600;
}
@media only screen and (min-width: 768px) {
  #carousel-container {
    width: 80%;
    height: 65%;
    bottom: 10%;
    left: 10%;
  }
}
#carousel-container #dots {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 100;
  position: absolute;
  bottom: -30px;
  left: 35%;
  width: 30%;
  height: auto;
}
#carousel-container #dots div {
  border-radius: 100%;
  border: 1px solid black;
  width: 1.5vmin;
  height: 1.5vmin;
}
@media only screen and (min-width: 768px) {
  #carousel-container #dots div {
    width: 1.5vh;
    height: 1.5vh;
  }
}
#carousel-container #dots div.active-dot {
  background-color: black;
}

#thumbnail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: black;
  border: 1px solid black;
}
#thumbnail-container a {
  position: absolute;
  mix-blend-mode: darken;
  z-index: 9999;
  top: 45%;
  left: 40%;
  text-decoration: none;
  font-size: 8vmin;
  color: white;
}
@media only screen and (min-width: 768px) {
  #thumbnail-container a {
    font-size: 5vmin;
    left: 45%;
  }
}
#thumbnail-container a span {
  padding: 10px;
  background-color: black;
  color: beige;
}
#thumbnail-container #image-container {
  position: relative;
  height: 95%;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
#thumbnail-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: auto;
  margin-left: -250px;
}
@media only screen and (min-width: 768px) {
  #thumbnail-container img {
    margin-left: 0px;
    width: 100%;
    min-width: 1200px;
  }
}
#thumbnail-container div.screen {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
#thumbnail-container div p {
  padding: 5px;
  mix-blend-mode: hard-light;
  color: black;
  background-color: beige;
  text-align: left;
  position: absolute;
  font-size: 3.8vmin;
  border: 1px solid black;
  bottom: 10%;
  left: 10%;
  width: 80%;
}
@media only screen and (min-width: 768px) {
  #thumbnail-container div p {
    top: 60%;
    left: 2%;
    width: 30%;
    font-size: 2.5vmin;
    height: 20%;
  }
}

#contact {
  overflow: hidden;
  background-color: beige;
}
#contact #contact-greeting {
  position: absolute;
  height: 30%;
  width: 40%;
  right: 15%;
  top: 10%;
  background-color: beige;
}
#contact #contact-greeting h1 {
  overflow: hidden;
  text-align: center;
  background-color: beige;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 8vmin;
  padding: 10%;
}
@media only screen and (min-width: 768px) {
  #contact #contact-greeting h1 {
    font-size: 6vmin;
  }
}

#contact-c1 {
  position: absolute;
  background-color: red;
  top: 0%;
  right: 15%;
  mix-blend-mode: overlay;
}

#contact-c2 {
  background-color: indigo;
  top: 20%;
  right: 20%;
  mix-blend-mode: overlay;
}

#contact-links {
  position: absolute;
  z-index: 1000;
  height: auto;
  width: 25vmax;
  border: 1px solid black;
  margin: 0;
  padding: 20px;
  top: 55%;
  left: 30vw;
  list-style: none;
}
@media only screen and (min-width: 768px) {
  #contact-links {
    width: 12vw;
    top: 50%;
    left: 44vw;
  }
}
#contact-links a {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-decoration: none;
  color: black;
  width: 80%;
}
#contact-links li {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-decoration: none;
  font-size: 9pt;
  margin: 5px;
  text-align: center;
}
#contact-links img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  30% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  30% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.image-enter {
  opacity: 0.01;
  transform: translateX(50%);
}

.image-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 1000ms ease;
}

.image-exit {
  opacity: 1;
  transform: translateX(0%);
}

.image-exit-active {
  opacity: 0.01;
  transform: translateX(50%);
  transition: all 1000ms ease;
}

.blurb-enter {
  opacity: 0.01;
  transform: translateY(100%);
}

.blurb-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 1000ms ease;
}

.blurb-exit {
  opacity: 1;
  transform: translateY(0%);
}

.blurb-exit-active {
  opacity: 0.01;
  transform: translateY(-100%);
  transition: opacity 1000ms ease;
}

.way-wrapper {
  position: absolute;
  height: 200px;
  transition: all 1000 ease;
}

.scroll-top-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.scroll-top-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 1000ms ease;
}

.scroll-top-exit {
  opacity: 1;
  transform: translateY(0%);
}

.scroll-top-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1000ms ease;
}

.scroll-left-enter {
  opacity: 0;
  transform: translateX(-20%) translateY(50%);
}

.scroll-left-enter-active {
  opacity: 1;
  transform: translateX(0%) translateY(0%);
  transition: all 1000ms 500ms ease;
}

.scroll-left-exit {
  opacity: 1;
  transform: translateX(0%) translateY(0%);
}

.scroll-left-exit-active {
  opacity: 0;
  transform: translateX(-80%) translateY(120%);
  transition: all 1000ms ease-out;
}

.rapid-right-enter {
  opacity: 1;
  transform: translateX(100%) translateY(-100%);
}

.rapid-right-enter-active {
  opacity: 1;
  transform: translateX(0%) translateY(0%);
  transition: all 1000ms ease;
}

.rapid-right-exit {
  opacity: 1;
  transform: translateX(0%) translateY(0%);
}

.rapid-right-exit-active {
  opacity: 1;
  transform: translateX(100%) translateY(100%);
  transition: all 1500ms ease-out;
}

.scroll-through-enter {
  opacity: 1;
  transform: translateX(100%) translateY(-100%);
}

.scroll-through-enter-active {
  opacity: 1;
  transform: translateX(0%) translateY(0%);
  transition: all 500ms ease-out;
}

.scroll-through-exit {
  opacity: 1;
  transform: translateX(0%) translateY(0%);
}

.scroll-through-exit-active {
  opacity: 1;
  transform: translateX(100%) translateY(100%);
  transition: all 500ms ease-out;
}

.scroll-right-enter {
  opacity: 0;
  transform: translateX(50%);
}

.scroll-right-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 1000ms ease;
}

.scroll-right-exit {
  opacity: 1;
  transform: translateX(0%);
}

.scroll-right-exit-active {
  opacity: 0;
  transform: translateX(50%);
  transition: all 1000ms ease-out;
}

.fade-enter {
  opacity: 0;
  transform: translateY(-30%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1000ms ease;
}

.fade-exit {
  transform: translateX(0);
  opacity: 1;
}

.fade-exit-active {
  transform: translateY(-50%);
  opacity: 0;
  transition: all 1000ms ease-out;
}

/*# sourceMappingURL=output.css.map */
